body {
  font-family: "Lato", "Helvetica", "sans-serif";
  margin: 0;
  padding: 10px;
  font-size: 3em;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 50%,rgba(255,255,255,0.8) 100%), url('/img/sanfran.jpeg');
  background-size: cover;

}


/*.backgroundImage:after {
  background-image: url("/img/sanfran.jpeg");
  background-size:cover;
  opacity: 0.5;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
*/.field {
  margin: 20px 0 0 0;
}

.field__textinput {
  font-size: 1em;
  padding: 15px 0;
  text-align: center;
  min-width: 500px;
}



/*
  Section styles
 */
.card {
  display: none;
}

.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center;
}


/*
  Button styles
 */

.btn {
  text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
  min-width: 260px;
}

.btn--orange {
  border-color: #FF4136;
  color: white;
  background-color: #FF4136;
}

.btn--blue {
  border-color: #0074D9;
  color: white;
  background-color: #0074D9;
}

.btn--yellow {
  border-color: #E4BD00;
  color: white;
  background-color: #F3C500;
}

.btn--big {
  font-size: 28px;
  padding: 10px;
  font-weight: 400;
}

.btn--small {
  min-width: 50px;
}

.btn__prompt {
  background-color: white;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: -10px;
  font-weight: 600;
  background-color: #333;
  opacity: .4;
  border-radius: 5px 0 0 5px;
  left: 37px;
  float: left;
}

.btn__text {
  padding: 0 50px 0 20px;
  border-radius: 0 5px 5px 0;
}

.placeForBadGuy {
  text-align: right;
}

.combatPicture {
  border-radius: 15px;
  border: 3px solid grey;
  width: 325px;
  height: 325px;
}

.placeForPlayer .combatPicture {
  margin-left:3rem;
}

.placeForBadGuy .combatPicture {
  margin-right: 3rem;
}

.battleGroundTop {
  text-decoration: underline;
  margin-bottom: 25px;
}
.playerName {
  margin-top: 4rem;
}

.player-stats {
  font-size: 75%;
}

.player-stats:nth-of-type(2){
  text-align: right;
}

.player-stats span {
  font-weight: 900;
}

.attack-btn {
  text-align: center;
}

img {
  object-fit: cover;
}

.bold {
  font-weight: 900;
}

.red {
  color: tomato;
}


/*flash the health when it changes */
@keyframes health-fade {
    0% {
        background-color: transparent;
        opacity:1;
    }
    25% {
        background-color: red;
    }
    100% {
        background-color: transparent;
    }
}

.flash{
  animation-name: health-fade;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

/* Shake image on attack */
.shake{
  animation: image-shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes image-shake {
  10%, 90% {
    transform: translate3d(-3px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(8px, 0, 0);
  }
}
